@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@{
    var user = await UserManager.GetUserAsync(User);
    var isAuthenticated = SignInManager.IsSignedIn(User);
    var isAdmin = User.IsInRole("Admin"); 
    var isAgent = User.IsInRole("Booking Agent");
    var isClient = User.IsInRole("Client");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UBB_Trips</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UBB_Trips.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a></a><img src="https://as1.ftcdn.net/v2/jpg/02/46/24/74/1000_F_246247429_tmb1mVUrB9eyFKckjmZT5XJ5L9DyHgt1.jpg" alt="Logo" width="35" height="35" /></a></>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>UBB Trips</strong></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="tripsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                Trips
                            </a>
                            <div class="dropdown-menu" aria-labelledby="tripsDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Trips" asp-action="Index">Trip list</a>
                                @if (isAuthenticated)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Trips" asp-action="Create">Create</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="bookingDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Booking
                            </a>
                            <div class="dropdown-menu" aria-labelledby="bookingDropdown">
                                @if (isAdmin)
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Bookings" asp-action="Create">Book</a>
                                }
                                <a class="dropdown-item" asp-area="" asp-controller="Bookings" asp-action="Index">Booked list</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" id="clientsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                Client
                            </a>
                            <div class="dropdown-menu" aria-labelledby="clientsDropdown">
                                @if (isAdmin || isAgent) 
                                {
                                    <a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Index">Client list</a>
                                }
                                <a class="dropdown-item" asp-area="" asp-controller="Clients" asp-action="Create">Create account</a>
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy;
            ul. Willowa 2
            43-309 Bielsko-Biała
            tel. +48 33 8279203
            <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
