@using UBB_Trips.Models;

<div class="container">
    <div class="row">
        <div class="text-left">
            <h1 style="text-align: center;"><span style="color: #0047AB;"><strong>UBB Trips!</strong></span></h1>
            <p style="text-align: center;">
            </p>
        </div>
        <div class="col-md-6" width="100%">
            <div class="text-center">
                <img src="https://media.cntraveller.com/photos/61b1f4863c1570da15248580/master/pass/tour%20ops.jpg" alt="WycieczkiVisualizer" width="90%" />
            </div>
        </div>
    </div>
</div>
</div>

